doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title="test"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", media="screen", href="stylesheets/menu.css")
    body
        div(class="container", id="menuNode")
            div(class="search", id="searchNode")
                div(class="search__bar")
                    input(type="text", placeholder="nazwa pomieszczenia lub numer sali", class="search__input", id="searchInput")
                    button(type="button", class="search__button", id="searchButton")
                        | SZUKAJ
                div(class="search__dropdown", id="searchDropdown")
            div(class="floors")
                p PIĘTRO
                div(class="floors_options", id="floorsOptions")
            iframe(src="/map", class="map")
            div(class="pointers pointersCollapsed", id="pointersMenuCollapsed")
                p Pokaż znaczniki na mapie
                img(src="/images/icons/arrow_up.png", class="pointers__arrow")
            div(class="pointers pointersExpanded", id="pointersMenuExpanded")
                div(class="pointersExpanded__header")
                    p Pokaż znaczniki na mapie
                    img(src="/images/icons/x.png", class="pointers__arrow", id="closePointersMenu")
                div(class="pointersPropose")
                    p Nie mamy tego, czego szukasz?
                    p(class="pointersPropose__cta")
                        | Zaproponuj nowy znacznik

        script(src="scripts/menuView.js", type="module")
