body>div {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#back_arrow {
    width: 7%;
}

body {
    background-color: rgb(244, 244, 244);
}

#error_types div img {
    display: inline-block;
    width: 32px;
    margin: 5px;
    margin-right: 10px;
}

#error_types div p {
    display: inline-block;
    height: min-content;
    margin: 0;
    font-size: 130%;
}

#error_types div {
    display: flex;
    align-items: center;
    margin: 5px;
}

textarea {
    height: 100px;
}

button {
    margin-top: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 93%;
    background-color: rgb(24, 8, 92);
    color: white;
    border-radius: 8px;
}

.not_bold {
    font-weight: initial;
}

#change_form_successful {
    margin-bottom: 50px;
}